.cards {
    display: flex; 
    gap: 2rem; 
    flex-wrap: wrap; 
}

.card {
    flex: 1 1 250px; 
    border-style: double; 
    border-width: 2px;
    padding: 1.5rem; 
    margin-top: 1rem;
    background: #CD9151; 
}

.card h2{
    letter-spacing: 0.5rem; 
    text-transform: uppercase; 
}

.card p {
    line-height: 1.6;
}
