/* add all items from grading group 3 and 4. Search for items in group 5 that refer to css f.e. z index */ 
@font-face{
    font-family: Bricolage Grotesque;
    src: url('/css/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf');
}

* {
    text-decoration: none;  
    font-family: 'Bricolage Grotesque';
    margin: 0px; 
    padding: 0px; 
}

body{
    margin: 0px; 
    padding: 0px; 
}

.logo{
    height: 64px;
    background-repeat: none; 
    padding-left: 15px;
}


.navbar {
    display: flex;
    height: 64px; 
    justify-content: space-between;
    align-items: center;
    background-color: #B37737;
}

.nav-link {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 15px;
}

.nav-logo {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

.nav-button {
    text-decoration: none;
    color: white; 
    background: #CD9151;
    font-size: 1rem;
    padding: 0.4rem 0.9rem;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.nav-button:hover {
    background-color: #0E4F52;
    color: white;
}

.nav-button:visited {
    background-color: #0E4F52;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: calc(80vh - 64px);
    background-image: url(../img/Homepage/Find\ Your\ Focus-\ The\ Power\ of\ Quiet\ Workspaces_BODY.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

main p, h1 {
    color: white;
}

